{% load static %}
<div class="game-art game-art--metamorph" aria-hidden="true">
    <span class="game-art-stage">
        <span class="metamorph-deck metamorph-deck--left"><img src="{% static 'img/games/artwork/eevee.png' %}" alt=""></span>
        <span class="metamorph-deck metamorph-deck--right"><img src="{% static 'img/games/artwork/eevee.png' %}" alt=""></span>
        <span class="metamorph-odd"><img src="{% static 'img/games/artwork/ditto.png' %}" alt=""><b>?</b></span>
    </span>
</div>
