{% load static %}
<div class="game-art game-art--starterrace" aria-hidden="true">
    <span class="game-art-stage">
        <span class="starter-mini-track"></span>
        <img class="starter-art starter-art--bulbasaur" src="{% static 'img/games/artwork/bulbasaur.png' %}" alt="">
        <img class="starter-art starter-art--charmander" src="{% static 'img/games/artwork/charmander.png' %}" alt="">
        <img class="starter-art starter-art--squirtle" src="{% static 'img/games/artwork/squirtle.png' %}" alt="">
        <img class="starter-art starter-art--pikachu" src="{% static 'img/games/artwork/pikachu.png' %}" alt="">
        <span class="starter-die">6</span>
    </span>
</div>
